<section class="section-about-finochietto-sanatorium">

  <div class="container-about-finochietto-sanatorium">
    
    <p class="about-title">Sanatorio Finochietto</p>
    <span class="about-text">Un equipo especializado en Cirugías Robóticas</span>
    <div class="about-finochietto-separator"></div>

    <div class="secondary-container-about-finochietto-santorium">

      <div class="left__container-about-finochietto-sanatorium">
        <img src="assets/images/finochietto-sanatorium.jpg" alt="Sanatorio Finochietto" class="finochietto-img">
        <img src="assets/images/finochietto_sanatorium_logo.jpeg" alt="Sanatorio Finochietto Logo" class="finochietto-logo">
      </div>

      <div class="right__container-about-finochietto-sanatorium">
        <p class="address-text">Av. Córdoba 2678 | C.A.B.A</p>
        <p class="sanatorium-phrase">"Contamos con equipamiento de última generación que nos posiciona como una institución líder en el país"</p>
        <button class="more-info-button" (click)="redirectToFinochietto()">
          <span class="more-info-button__span">Más información</span>
          <div class="more-info-button__icon">
            <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14"
              viewBox="0 0 448 512">
              <path fill="#ffffff"
                d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z" />
            </svg>
          </div>
        </button>
      </div>

    </div>

  </div>
</section>
