<section class="section-about-innova">
  <div class="container-about-innova">
    <div class="first__container-about-innova">
      <span class="title__about-innova">¿Quiénes somos?</span>
      <p class="text__about-innova">Somos un grupo apasionado y especializado en el campo de la cirugía robótica, dedicado a llevar la innovación
      y la excelencia a la vanguardia de la atención médica.<br>
      En INNOVA, fusionamos la experiencia quirúrgica con las últimas
      tecnologías robóticas para ofrecer resultados excepcionales y transformar la forma en que abordamos los desafíos
      médicos.</p>

    </div>
    <div class="second__container-about-innvoa">
      <video class="innova-video" id="innova-video" onloadedmetadata="this.muted=true" autoplay loop>
        <source src="assets/images/da_vinci_surgery.mp4" type="video/mp4">
      </video>
    </div>
  </div>
</section>