.section-about-innova {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.container-about-innova {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 150px 0;
}

.first__container-about-innova {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.title__about-innova {
  font-size: 3rem;
  font-weight: bolder;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

.text__about-innova {
  text-align: justify;
  font-size: 1.2rem;
  letter-spacing: 1px;
  margin-top: 10px;
}

.innova-video {
  max-width: 600px;
  max-height: 600px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.second__container-about-innova {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

// ESTILOS RESPONSIVOS

@media screen and (max-width: 1400px) {
  .title__about-innova {
    font-size: 2.5rem;
  }

  .text__about-innova {
    font-size: 1.2rem;
  }

  .innova-video {
    max-width: 500px;
    max-height: 500px;
  }
}

@media screen and (max-width: 1200px) {
  .title__about-innova {
    font-size: 2rem;
  }

  .text__about-innova {
    font-size: 1.1rem;
  }

  .innova-video {
    max-width: 400px;
    max-height: 400px;
  }
}

@media screen and (max-width: 1024px) {
  .container-about-innova {
    flex-direction: column;
  }

  .first__container-about-innova {
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
  }

  .title__about-innova {
    font-size: 2rem;
  }

  .text__about-innova {
    font-size: 1rem;
  }

  .innova-video {
    max-width: 500px;
    max-height: 300px;
  }
}


@media screen and (max-width: 768px) {
  .title__about-innova {
    font-size: 1.5rem;
  }

  .text__about-innova {
    font-size: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .title__about-innova {
    font-size: 1.5rem;
  }

  .text__about-innova {
    font-size: .9rem;
  }

  .innova-video {
    max-width: 400px;
    max-height: 300px;
  }
}

@media screen and (max-width: 480px) {
  .title__about-innova {
    font-size: 1.2rem;
  }

  .text__about-innova {
    font-size: .8rem;
  }

  .innova-video {
    max-width: 300px;
    max-height: 300px;
  }
}

@media screen and (max-width: 320px) {
  .title__about-innova {
    font-size: 1rem;
  }

  .text__about-innova {
    font-size: .8rem;
  }

  .innova-video {
    max-width: 300px;
    max-height: 300px;
  }
}