<section class="section-about-sebastian">
  
  <div class="container-about-sebastian">
    
    <div class="left__container-about-sebastian">
      <img src="../../assets/images/dr-sebastian.jpeg">
    </div>

    <div class="right__container-about-sebastian">
      <h1 class="about-title">Dr. Sebastian Ansaldi</h1>
      <p class="about-text">El Dr. Sebastián Ansaldi es un cirujano altamente calificado con una amplia experiencia en cirugía robótica y
      colorrectal.</p>
      <p class="about-text">Su experiencia internacional incluye una Instancia Formativa en Cirugía General, Oncológica, Colorrectal y Robótica en
      <b>Adventh Health Orlando</b>, EE. UU., durante octubre y noviembre de 2018. Asistió al Orlando Colorectal Congress en
      noviembre de 2018 y se formó en el Servicio de Trasplante Multiorgánico de la <b>Fundación Favaloro</b> en Buenos Aires,
      Argentina, entre octubre y noviembre de 2014.</p>
      <p class="about-text">La formación académica del Dr. Ansaldi comprende una Carrera de Posgrado en Cirugía General en la <b>Universidad Nacional
      de Rosario</b>, con residencia en el Hospital Provincial del Centenario entre los años 2011 y 2015.</p>
      <button class="see-more-button">
        <span class="see-more-button__span">Ver más</span>
        <div class="see-more-button__icon">
          <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14"
            viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.-->
            <path fill="#ffffff"
              d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z" />
          </svg>
        </div>
      </button>
    </div>

  </div>

</section>
