<header class="header-container" id="header">
  <div class="left-container">
    <span [routerLink]="" (click)="goToHome()" class="left-container__text">INNOVA</span>
  </div>
  <div class="right-container">
    <nav class="right-container__nav">
      <ul class="nav__ul">
        <li class="ul__item"><a [routerLink]="" (click)="goToHome()">Inicio</a></li>
        <li class="ul__item"><a>Formación</a></li>
        <li class="ul__item"><a>Robótica</a></li>
        <li class="ul__item"><a>Contactanos</a></li>
      </ul>
    </nav>
  </div>
</header>
