.presentation-banner {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-size: cover;
  background-position: center;
  position: relative;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.166);
  z-index: 1;
}

.video-container {
  width: 100%;
  height: 100%;
  position: absolute;
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container-text {
  width: 90%;
  position: relative;
  z-index: 10;
  padding-left: 32px;
  color: #fff;
}

.presentation-banner h1 {
  font-size: 5rem;
  font-weight: bolder;
  letter-spacing: 3px;
  width: 60%;
  // Otra opcion es ponerle un text-shadow para que haga un efecto 3D y la letra no se mezcle tanto con el fondo
  // text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.presentation-banner h2 {
  font-size: 2rem;
  letter-spacing: .5px;
  font-weight: 400;
  margin-top: 40px;
}

.container__text-separator{
  width: 7%;
  height: 3px;
  background-color: #fff;
  margin-top: 30px;
}


// ESTILOS RESPONSIVOS


@media (max-width: 1720px) {
  .presentation-banner h1 {
    font-size: 4rem;
  }

  .presentation-banner h2 {
    font-size: 1.7rem;
  }
}

@media (max-width: 1410px) {
  .presentation-banner h1 {
    font-size: 3.5rem;
  }

  .presentation-banner h2 {
    font-size: 1.7rem;
  }
}

@media (max-width: 1251px) {
  .presentation-banner h1 {
    width: 70%;
  }
  
  .presentation-banner h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .presentation-banner h1 {
    font-size: 2.8rem;
    width: 100%;
  }

  .presentation-banner h2 {
    font-size: 1.2rem;
  }

  .container__text-separator {
    width: 10%;
  }
}

@media (max-width: 480px) {
  .presentation-banner h1 {
    font-size: 2rem;
  }

  .presentation-banner h2 {
    font-size: 1rem;
  }

  .container__text-separator {
    width: 15%;
  }
}

@media (max-width: 320px) {
  .container-text {
    padding-left: 15px;
  }

  .presentation-banner h1 {
    font-size: 1.2rem;
  }

  .presentation-banner h2 {
    font-size: .8rem;
  }

  .container__text-separator {
    width: 20%;
  }
}