<!-- Banner de presentación -->
<div class="presentation-banner">
  <div class="overlay"></div>
  <div class="container-text">
    <h1>Introduciendo la Cirugía Robótica en Rosario</h1>
    <div class="container__text-separator">
      <span class="text-separator"></span>
    </div>
    <h2>Estableciendo el punto de referencia para la excelencia en cirugía</h2>
    </div>
  </div>
<app-about-robotic-surgery></app-about-robotic-surgery>
<app-about-da-vinci-plataform></app-about-da-vinci-plataform>
<app-about-juan></app-about-juan>
<app-about-sebastian></app-about-sebastian>
