<section class="section-about-flavio">
  <div class="container-about-flavio">
    <div class="left__container-about-flavio">
      <h1 class="about-title">Dr. Flavio Marchesini</h1>
      <ul>
        <li class="about-text">
          Médico egresado de la <b>Universidad del Salvador</b>
        </li>
        <li class="about-text">
          Jefe de División Cirugía General - <b>Hospital Fernandez</b>
        </li>
        <li class="about-text">
          Cirujano Certificado en Cirugia Robótica -
          <b>Intuitive, Atlanta, USA</b>
        </li>
      </ul>
      <button class="see-more-button" (click)="goToDrFlavioMarchesini()">
        <span class="see-more-button__span">Ver más</span>
        <div class="see-more-button__icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="16"
            width="14"
            viewBox="0 0 448 512"
          >
            <path
              fill="#ffffff"
              d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"
            />
          </svg>
        </div>
      </button>
    </div>
    <div class="right__container-about-flavio">
      <img src="assets/images/dr-marchesini-da-vinci.jpg" />
    </div>
  </div>
</section>
