.section-about-flavio {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.container-about-flavio {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 150px 0;
}

.left__container-about-flavio {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.about-title {
  font-size: 3rem;
  font-weight: bolder;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

.about-text {
  font-size: 1.1rem;
  letter-spacing: 1px;
  margin-bottom: 30px;
  list-style: none;
}

.see-more-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  align-self: left;
  background-color: #233dff;
  height: 55px;
  width: 180px;
  border: none;
  border-radius: 1.5rem;
  padding: 0 2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.see-more-button__span {
  color: #fff;
  font-size: 1.1rem;
  letter-spacing: 1px;
}

.see-more-button__icon {
  align-self: center;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 100%;
  height: 1rem;
  width: 1rem;
  padding: 0.2rem;
  transition: all 0.3s ease-in-out;
}

.see-more-button:hover {
  background-color: #01097e;
}

.see-more-button:hover .see-more-button__icon {
  transform: translateX(5px);
}

.right__container-about-flavio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
}

.right__container-about-flavio img {
  max-width: 500px;
  max-height: 500px;
  border-radius: 100%;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
}

.right__container-about-flavio img:hover {
  scale: 1.1;
}

// ESTILOS RESPONSIVOS

@media (max-width: 1400px) {
  .about-title {
    font-size: 2.5rem;
  }

  .about-text {
    font-size: 1rem;
  }

  .right__container-about-flavio img {
    max-width: 450px;
    max-height: 450px;
  }
}

@media (max-width: 1200px) {
  .about-title {
    font-size: 2rem;
  }

  .about-text {
    font-size: 1rem;
  }

  .right__container-about-flavio img {
    max-width: 400px;
    max-height: 400px;
  }
}

@media (max-width: 1024px) {
  .about-title {
    font-size: 1.5rem;
    font-weight: bolder;
  }

  .about-text {
    font-size: 0.9rem;
  }

  .right__container-about-flavio img {
    max-width: 350px;
    max-height: 350px;
  }
}

@media (max-width: 768px) {
  .section-about-flavio {
    margin: 100px 0;
  }

  .container-about-flavio {
    flex-direction: column-reverse;
    margin: 0;
  }

  .left__container-about-flavio {
    width: 100%;
    margin-top: 50px;
  }

  .about-title {
    font-size: 1.5rem;
    font-weight: bolder;
    margin-bottom: 20px;
  }

  .about-text {
    font-size: 0.9rem;
    margin-bottom: 20px;
  }

  .see-more-button {
    margin-top: 20px;
    width: 160px;
    height: 45px;
  }

  .see-more-button__span {
    font-size: 0.9rem;
  }

  .see-more-button__icon {
    height: 0.8rem;
    width: 0.8rem;
  }

  .see-more-button__icon svg {
    height: 0.8rem;
    width: 0.8rem;
  }

  .right__container-about-flavio {
    width: 100%;
    margin: 0;
  }

  .right__container-about-flavio img {
    max-width: 300px;
    max-height: 300px;
  }
}

@media (max-width: 480px) {
  .about-title {
    font-size: 1.2rem;
    font-weight: bolder;
    margin-bottom: 20px;
  }

  .about-text {
    font-size: 0.8rem;
    margin-bottom: 20px;
  }

  .see-more-button {
    margin-top: 20px;
    width: 160px;
    height: 40px;
  }

  .right__container-about-flavio img {
    max-width: 250px;
    max-height: 250px;
  }
}

@media (max-width: 320px) {
  .about-title {
    font-size: 1rem;
    font-weight: bolder;
    margin-bottom: 20px;
  }

  .about-text {
    font-size: 0.7rem;
    margin-bottom: 20px;
  }

  .see-more-button {
    margin-top: 20px;
    width: 160px;
    height: 40px;
  }

  .right__container-about-flavio img {
    max-width: 200px;
    max-height: 200px;
  }
}
