<div class="container-dr-juan-bernava">
  <div class="secondary-container">
    <div class="left-container">
      <span class="doctor-name">Dr. Juan Luis Bernava</span>
      <span class="doctor-registration">MATRICULA Nº 20.157</span>
      <div class="separator"></div>
      <ul class="list-items">
        <li class="item">Certificación en Cirugía Robótica Plataforma Xi en Instituto Falke y Hospital Samaritano de Higienópolis, San Pablo,
        Brasil.</li>
        <li class="item">Instancia Formativa en Cirugía gastrointestinal, abordaje laparoscópico, NOTES y MANOS en Hospital Clinic, Barcelona,
        España.</li>
        <li class="item">Curso Inmersión laparoscópica en Patología Rectal, abordaje transanal en Hospital Clinic, Barcelona, España.</li>
        <li class="item">Carrera de Posgrado en Cirugía general dependiente de la Universidad Nacional de Rosario, con residencia en Hospital
        Provincial del Centenario.</li>
        <li class="item">Médico recibido en Facultad de Ciencias Médicas de la UNR.</li>
        <li class="item">Miembro de la Sociedad de Cirugía de Rosario.</li>
        <li class="item">Miembro de la Sociedad de Coloproctologia de Rosario.</li>
        <li class="item">Docente de IUNIR.</li>
      </ul>
    </div>
    <div class="right-container">
      <img src="assets/images/dr-bernava-da-vinci.jpg" alt="Dr Juan Luis Bernava">
      <!-- <button class="request-appointment-button">Solicitar Turno</button> -->
    </div>
  </div>
</div>