<section class="section-about-juan">
  <div class="container-about-juan">
    <div class="left__container-about-juan">
      <h1 class="about-title">Dr. Juan Luis Bernava</h1>
      <p class="about-text">El Dr. Juan Bernava es un cirujano altamente capacitado con una destacada formación en cirugía
        robótica y laparoscópica.</p>
      <p class="about-text">Además, se ha especializado en cirugía gastrointestinal con énfasis en abordaje laparoscópico,
        NOTES y MANOS en el
        <b>Hospital Clinic</b> de Barcelona, España, en abril y mayo de 2015. Durante este tiempo, también participó en un Curso de
        Inmersión Laparoscópica en Patología Rectal con abordaje transanal.</p>
      <p class="about-text">Su formación académica incluye una Carrera de Posgrado en Cirugía General en la <b>Universidad
        Nacional de Rosario</b>, con residencia en el Hospital Provincial del Centenario entre los años 2011 y 2015. El Dr. Bernava es egresado de la
        Facultad de Ciencias Médicas de la UNR, consolidando así una base sólida en medicina.</p>
      <button class="see-more-button">
        <span class="see-more-button__span">Ver más</span>
        <div class="see-more-button__icon">
          <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14"
            viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.-->
            <path fill="#ffffff"
              d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z" />
          </svg>
        </div>
      </button>
    </div>
    <div class="right__container-about-juan">
      <img src="../../assets/images/dr-juan.jpeg">
    </div>
  </div>
</section>
