<section class="section-surgical-procedures">
  <div class="container-surgical-procedures">
    <div class="surgical-procedures__title">
      <h1 class="title">Procedimientos Quirúrgicos</h1>
      <div class="separator"></div>
    </div>
    <div class="surgical-procedures__items">
      <!-- <details class="procedure-item" name="procedures">
        <summary>Hernias, diastasis y eventraciones de la pared abdominal</summary>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, necessitatibus? Recusandae optio, dicta, quos voluptatum corrupti incidunt quo reiciendis, itaque adipisci possimus omnis enim expedita. Aspernatur consectetur facere dicta? Aspernatur?</p>
      </details>
      <details class="procedure-item secondary" name="procedures">
        <summary>Reflujo gastroesofágico y hernia de hiato</summary>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, necessitatibus? Recusandae optio, dicta, quos
          voluptatum corrupti incidunt quo reiciendis, itaque adipisci possimus omnis enim expedita. Aspernatur consectetur
          facere dicta? Aspernatur?</p>
      </details>
      <details class="procedure-item" name="procedures">
        <summary>Patologías del Estómago y del Bazo</summary>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, necessitatibus? Recusandae optio, dicta, quos
          voluptatum corrupti incidunt quo reiciendis, itaque adipisci possimus omnis enim expedita. Aspernatur consectetur
          facere dicta? Aspernatur?</p>
      </details>
      <details class="procedure-item secondary" name="procedures">
        <summary>Litiasis y pólipos vesiculares</summary>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, necessitatibus? Recusandae optio, dicta, quos
          voluptatum corrupti incidunt quo reiciendis, itaque adipisci possimus omnis enim expedita. Aspernatur consectetur
          facere dicta? Aspernatur?</p>
      </details>
      <details class="procedure-item" name="procedures">
        <summary>Enfermedad diverticular colónica</summary>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, necessitatibus? Recusandae optio, dicta, quos
          voluptatum corrupti incidunt quo reiciendis, itaque adipisci possimus omnis enim expedita. Aspernatur consectetur
          facere dicta? Aspernatur?</p>
      </details>
      <details class="procedure-item secondary" name="procedures">
        <summary>Tumores de colon y recto</summary>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, necessitatibus? Recusandae optio, dicta, quos
          voluptatum corrupti incidunt quo reiciendis, itaque adipisci possimus omnis enim expedita. Aspernatur consectetur
          facere dicta? Aspernatur?</p>
      </details>
      <details class="procedure-item" name="procedures">
        <summary>Tumores de páncreas</summary>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, necessitatibus? Recusandae optio, dicta, quos
          voluptatum corrupti incidunt quo reiciendis, itaque adipisci possimus omnis enim expedita. Aspernatur consectetur
          facere dicta? Aspernatur?</p>
      </details>
      <details class="procedure-item secondary" name="procedures">
        <summary>Patología de las glándulas suprarrenales</summary>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, necessitatibus? Recusandae optio, dicta, quos
          voluptatum corrupti incidunt quo reiciendis, itaque adipisci possimus omnis enim expedita. Aspernatur consectetur
          facere dicta? Aspernatur?</p>
      </details>
      <details class="procedure-item" name="procedures">
        <summary>Cirugía guiada por Fluorescencia</summary>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, necessitatibus? Recusandae optio, dicta, quos
          voluptatum corrupti incidunt quo reiciendis, itaque adipisci possimus omnis enim expedita. Aspernatur consectetur
          facere dicta? Aspernatur?</p>
      </details> -->

      <div class="procedure-item">
          <p class="procedure-item__title">Hernias, diastasis y eventraciones de la pared abdominal</p>
      </div>

      <div class="procedure-item secondary">
          <p class="procedure-item__title">Reflujo gastroesofágico y hernia de hiato</p>
      </div>

      <div class="procedure-item">
        <p class="procedure-item__title">Patologías del estómago y del bazo</p>
      </div>
      
      <div class="procedure-item secondary">
        <p class="procedure-item__title">Litiasis y pólipos vesiculares</p>
      </div>

      <div class="procedure-item">
        <p class="procedure-item__title">Enfermedad diverticular colónica</p>
      </div>

      <div class="procedure-item secondary">
        <p class="procedure-item__title">Tumores de colon y recto</p>
      </div>

      <div class="procedure-item">
        <p class="procedure-item__title">Tumores de páncreas</p>
      </div>

      <div class="procedure-item secondary">
        <p class="procedure-item__title">Patología de las glándulas suprarrenales</p>
      </div>

      <div class="procedure-item">
        <p class="procedure-item__title">Cirugía guiada por fluorescencia</p>
      </div>

    </div>
  </div>

</section>